@page "/measurement/{MeasurementId}"
@using Fluxor.Blazor.Web.Components
@using MudBlazor
@inherits FluxorComponent

<PageTitle>Dyno</PageTitle>

<h1>Measurement details</h1>

<p>This page shows details of a measurement.</p>

<p>Viewing measurement @Measurement.Id.</p>

@* Visa en liten tabell med info om mätningen. Sedan ett diagram (MudChart.LineChart) med info. Kan även justera viewmodel så att den innehåller mer saker som är lämpliga för en torque-mätning. Aki hej da. *@





