@page "/"
@inherits FluxorComponent

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if(!AppState.Value.IsLoggedIn)
{
    <p>Start by registering an account, then login to see more.</p>
} else
{
    <p>Welcome! More will come here hopefully...</p>
}


