@page "/dyno"
@using Fluxor.Blazor.Web.Components
@attribute [StreamRendering]
@inherits FluxorComponent

<title>Dyno</title>

<h1>Dyno</h1>

<p>This component demonstrates showing data.</p>

<p>Use butblazor</p>


