@page "/dyno"
@using Fluxor.Blazor.Web.Components
@inherits FluxorComponent

<PageTitle>Dyno</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

<MudTable Items="@Measurements" Hover="true">
    <HeaderContent>
        <MudTh>
            Id
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
    </RowTemplate>
</MudTable>


